<a href="https://colab.research.google.com/github/darshbs/R-onColab/blob/main/R_Datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Everything in R is an object

In [1]:
# Create an R object
obj = 69

**Basic data types in R:**



1.   Character
2.   Numeric (real or decimal)
3. Integer
4. Logical
5. Complex

In [12]:
# Create objects of simple data types
my_char = 'a'
print(my_char)

num = 10L
print(num)

my_numeric = 25
print(my_numeric)

my_logic = TRUE
print(my_logic)

[1] "a"
[1] 10
[1] 25
[1] TRUE

In [13]:
if (1 == 1) {
  print(my_logic)
}

[1] TRUE

**Data Structures in R**
1. Atomic Vectors
2. List
3. Matrix
4. Data frame
5. Factor

Vector

In [15]:
# Create a Vector
my_vec1 = c(1L, 2L, 3L)
my_vec2 = 1:4
print(my_vec1)
print(my_vec2)

[1] 1 2 3
[1] 1 2 3 4

Sequence Function
seq(from = 1, to = 5, by = 1)

In [18]:
my_vec_seq = seq(from = 1, to = 10, by = 2)
print(my_vec_seq)

[1] 1 3 5 7 9

Functions on Objects

In [19]:
# length
length(my_vec_seq)

[1] 5

In [20]:
# Class
class(my_vec1)
class(my_vec2)

[1] "integer"

[1] "integer"